<br>
<br>
<br>
<div class="card " style="max-width: 900px;">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="../../../assets/Banner/promociones-toyota.png" class="img-fluid rounded-start">
        </div>
        <div class="col-md-7">
            <div class="card-body">

                <p class="text-end"><small class="text-muted">ID: {{detalleClientes.id}} </small></p>
                <h5 class="card-title"> {{detalleClientes.nombres}}</h5>
                <p class="card-text">Tipo de Persona: {{detalleClientes.tdp}}</p>
                <p class="card-text">RFC: {{detalleClientes.rfc}}</p>
                <p class="card-text">Calle y Colonia: {{detalleClientes.calle}} <br> {{detalleClientes.colonia}} </p>
                <p class="text-danger">Correo y Telefono: {{detalleClientes.correo}} <br> Celular: {{detalleClientes.telefono}}</p>
                <p class="card-text">Codigo Postal: {{detalleClientes.cp}}</p>
            </div>
        </div>
        <div class="cd-grid gap-2 d-md-flex justify-content-md-end">
            <button (click)="Volver()" class="btn btn-outline-secondary btn-sm">Regresar </button>

        </div>
    </div>
</div>


<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
