<br>
<br>

<div id="parallax-world-of-ugg">

    <section>
        <div class="title">
            <h3>Let's do some</h3>
            <h1>TOYOTA</h1>
        </div>
    </section>

    <section>
        <div class="parallax-one">
            <!-- <h2>SOUTHERN CALIFORNIA</h2> -->
        </div>
    </section>


    <section>
        <div class="block">
            <p><span class="first-character sc">E</span>l Verdadero Norte representa la visión definitiva y esto es precisamente lo que desde TLA pretendemos conseguir cuando trabajamos con nuestros clientes. Tomar la excelencia como el punto de referencia
                sin tener en cuenta las limitaciones para alcanzarla, es la actitud clave cuando se persigue la visión True North. Se resume en 4 elementos clave: <br>
                <br> • Respeto y seguridad para las personas – La Seguridad es lo primero, siempre, pero involucrando a todo el equipo para conseguir una mejora continua en los procesos y la organización – una cultura “Kaizen”. <br>
                <br> • Cero defectos – Confirmar la calidad en cada paso del proceso para asegurar la satisfacción del cliente para evitar el despilfarro asociado a la corrección de defectos. <br>
                <br> • Flujo pieza a pieza, bajo demanda – El sistema Just-in-time busca que todos los productos se fabriquen según la demanda, eliminando el despilfarro de sobreproducción y el almacenamiento de materiales en el proceso. <br>
                <br> • 100% valor añadido – El cliente debe ser lo primero. Eliminar el despilfarro y maximizar el valor añadido al producto mejorando nuestros procesos de forma continua.</p>
            <p class="line-break margin-top-10"></p>
        </div>
    </section>




</div>

<br>

<div class="container">
    <div class="grid" style="color: #fff;">
        <div>
            <h3>Misión </h3>
            <h6>"Atraer y retener a los clientes con productos y servicios de alto valor y con la experiencia del dueño más satisfactoria en Estados Unidos”.</h6>
        </div>
        <div>
            <h3>Visión </h3>
            <h6>“Ser la empresa de automóviles más exitosa y respetada en Estados Unidos”. Por favor, visita la página de Nuestra compañía para obtener información adicional.</h6>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>

<!-- horizontal -->

<div class="flip">
    <div class="front" style="background-image: url(https://s3.us-east-2.amazonaws.com/dealer-inspire-vps-vehicle-images/210007359/thumbnails/large/DZ5BNTDNOTAVIN/0f57f060b5bb97d0b07a1749e6a23cff.png)">
        <h1 class="text-shadow">TO</h1>
    </div>
    <div class="back">
        <font color="#e90606">
            <h2> Challenge </h2>
        </font>
        <p>Mantener una visión de largo plazo y enfrentar todos los desafíos con el coraje y la creatividad necesarios para materializar dicha visión.<br> <br>
            <FONT COLOR="#e90606"> Frente al cambio climático, </FONT> la escasez del agua, el agotamiento de recursos y la degradación de la biodiversidad, el Desafío Ambiental Toyota 2050 aspira a reducir el impacto ambiental negativo durante la fabricación y conducción de
            nuestros vehículos, y a contribuir positivamente al ambiente y la sociedad.</p>
    </div>
</div>


<!-- vertical -->
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(../../assets/emb.png)">
        <h1 class="text-shadow">YO</h1>
    </div>
    <div class="back">
        <font color="#e90606">
            <h2>Toyota Way</h2>
        </font>
        <p>Es la base de su cultura corporativa y la guía para seguir siendo eficaces y útiles en un mundo en constante cambio. Sirve para mantener bajo constante escrutinio los procesos y ver cómo pueden mejorarse o desarollar otros nuevos. <br> <br>
            <FONT COLOR="#e90606"> Toyota Way se basa en dos pilares: la mejora continua, </FONT> a través de los conceptos de Desafío, Kaizen y Genchi Genbutsu y el respeto por las personas, que abarca los principios de la marca conocidos como Respeto y Trabajo en equipo.</p>
    </div>
</div>


<!-- horizontal -->
<div class="flip">
    <div class="front" style="background-image: url(https://tdrpmimages.azureedge.net/photos/import/202301/0401/2014/3dbb53ee-3c6d-4f30-889d-f1e0fc3a3622.jpg-420x315)">
        <h1 class="text-shadow">TA</h1>
    </div>
    <div class="back">
        <font color="#e90606">
            <h2> Kaizen </h2>
        </font>
        <p>Puesto que ningún proceso puede considerarse perfecto, siempre hay lugar para la mejora, debemos mejorar continuamente. <br><br>
            <FONT COLOR="#e90606"> ¡Hoy mejor que ayer, mañana mejor que hoy! </FONT> es la base de la milenaria filosofía Kaizen, y su significado es que siempre es posible hacer mejor las cosas.</p>
    </div>
</div>


<!-- vertical -->
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://s3.us-east-2.amazonaws.com/dealer-inspire-vps-vehicle-images/210007359/thumbnails/large/D1RFVTANOTAVIN/afec33636c1922ffc7526bd9c11c3df7.png)">
        <h1 class="text-shadow">IN</h1>
    </div>
    <div class="back">
        <font color="#e90606">
            <h2>Genchi Genbutsu</h2>
        </font>
        <p>Ir al origen para descubrir los hechos que permitan tomar decisiones correctas, crear consenso, y alcanzar objetivos. <br> <br>
            <FONT COLOR="#e90606"> “ve y observa por ti mismo” </FONT> es un principio básico que define la mejor práctica para resolver un problema: ir y observar el lugar o proceso donde se ha detectado el problema. </p>
    </div>
</div>

<!-- horizontal -->
<div class="flip">
    <div class="front" style="background-image: url(https://s3.us-east-2.amazonaws.com/dealer-inspire-vps-vehicle-images/210007359/thumbnails/large/B4RBSCBNOTAVIN/31274ca959332c8212ad415735b40f15.png)">
        <h1 class="text-shadow">NO</h1>
    </div>
    <div class="back">
        <font color="#e90606">
            <h2> Respect </h2>
        </font>
        <p>Respetar a los demás, esforzarse al máximo por comprender, asumir la responsabilidad y poner lo mejor de nuestra parte para crear confianza mutua. <br> <br>
            <FONT COLOR="#e90606"> A través del respeto, </FONT>&nbsp; los trabajadores de Toyota aceptan la responsabilidad personal por lo que hacen y construyen la confianza mutua y el entendimiento con los que les rodean.
        </p>
    </div>
</div>


<!-- vertical -->
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://s3-us-west-2.amazonaws.com/images.newcarselloff.com/b_639259a5dd049_122388419_2023_Toyota_Corolla.png)">
        <h1 class="text-shadow">VA</h1>
    </div>
    <div class="back">
        <font color="#e90606">
            <h2> Teamwork </h2>
        </font>
        <p> Fomentar el avance personal y profesional, compartir las oportunidades de desarrollo y maximizar el desempeño individual y colectivo. <br> <br>
            <FONT COLOR="#e90606">A cada miembro de un equipo </FONT> se le da la oportunidad de hacer su mejor esfuerzo y la responsabilidad de lograr resultados.
        </p>
    </div>
</div>



<br>
<br>
<br>
<br>

<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <h3>Información de contacto</h3><br>
                <p><img class="alineado" src="https://cdn-icons-png.flaticon.com/512/6894/6894070.png" /> Dirección: 123 Calle Principal, Ciudad de Monterrey N.L</p>
                <p><img class="alineado" src="https://cdn-icons-png.flaticon.com/512/327/327690.png" /> Teléfono: 123-456-7890</p>
                <p><img class="alineado" src="https://cdn-icons-png.flaticon.com/512/95/95645.png" /> Correo electrónico: Toyota@gmail.com</p>
            </div>

            <div class="col-md-2">
                <h3>Modelos</h3><br>
                <p>Corolla</p>
                <p>Corolla Híbrido</p>
                <p>Highlander</p>
            </div>

            <div class="col-md-4">
                <h3>Enlaces útiles</h3><br>
                <ul>
                    <li><a href="../home/home.component.html">Inicio</a></li>
                    <li><a href="./about.component.html">Acerca de nosotros</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Contáctanos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="f-container">
    <p>
        Created with <i class="fa fa-heart2"> </i> by
        <a target="_blank" href="../home/home.component.html"> Nahomi Carrillo </a> - Read how I created this and how you can join the challenge
        <a target="_blank" href="../about/about.component.html">here.</a>
    </p>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
</style>
