<div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/a1d50691021557.5e26fa8124547.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h5>TOYOTA</h5> -->
                <p>Always a Better Way.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/7fd2d491021557.5e26fa8125690.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h5>TOYOTA</h5> -->
                <p>Always a Better Way.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/91e32191021557.5e26fa8124c3d.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h5>TOYOTA</h5> -->
                <p>Always a Better Way.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>NUESTROS HÍBRIDOS</h1>
<h2>LA MAYOR GAMA HÍBRIDA DE MÉXICO.</h2>

<div class="slider-container">

    <div class="slider">
        <div class="slide">
            <img src="../../assets/Carros/modulo_hybrid-autos_3.png" alt="Slide 1">
        </div>
        <div class="slide">
            <img src="../../assets/Carros/modulo_hybrid-autos_2.png" alt="Slide 2">
        </div>
    </div>

    <div class="slider">
        <div class="slide">
            <img src="../../assets/Carros/modulo_hybrid-autos_4.png" alt="Slide 4">
        </div>
        <div class="slide">
            <img src="../../assets/Carros/modulo_hybrid-autos_5.png" alt="Slide 5">
        </div>
    </div>
</div>


<!-- <div id="GFG" class="coursel">
    <h1 style="color:#000;">SFTI</h1>
    <h2> SISTEMA FACTURACIÓN TOYOTA INOVATION. </h2>
</div> -->

<br>
<br>

<div class="dj-banner">
    <div class="dj-bg">
        <img src="../../assets/Carros/modulo_hybrid-autos_1.png" alt="" height="290px" width="390px">
        <div class="dj-text">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1><b>Descubre lo que tenemos para ti.</b></h1>
            <p>Estrena hoy el auto de tus sueños. Toyota te ofrece las mejores condiciones para que puedas disfrutar de los mejores momentos. ¡Aprovecha la oportunidad!</p>
            <p><a href=""><label style="border-radius: 5px; background: #A60311; border-color:#A60311;  height:44px; color: white; width: 152px; text-align: center; font-size: 16px; padding: 10px 0;">Shop Now</label>
            </a></p>
        </div>
    </div>
</div>

<br>
<br>
<br>


<div class="container mt-5">
    <router-outlet></router-outlet>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>

<br>
<br>

<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <h3>Información de contacto</h3><br>
                <p><img class="alineado" src="https://cdn-icons-png.flaticon.com/512/6894/6894070.png" /> Dirección: 123 Calle Principal, Ciudad de Monterrey N.L</p>
                <p><img class="alineado" src="https://cdn-icons-png.flaticon.com/512/327/327690.png" /> Teléfono: 123-456-7890</p>
                <p><img class="alineado" src="https://cdn-icons-png.flaticon.com/512/95/95645.png" /> Correo electrónico: Toyota@gmail.com</p>
            </div>

            <div class="col-md-2">
                <h3>Modelos</h3><br>
                <p>Corolla</p>
                <p>Corolla Híbrido</p>
                <p>Highlander</p>
            </div>

            <div class="col-md-4">
                <h3>Enlaces útiles</h3><br>
                <ul>
                    <li><a href="./home.component.html">Inicio</a></li>
                    <li><a href="../about/about.component.html">Acerca de nosotros</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Contáctanos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="f-container">
    <p>
        Created with <i class="fa fa-heart2"> </i> by
        <a target="_blank" href="../home/home.component.html"> Nahomi Carrillo </a> - Read how I created this and how you can join the challenge
        <a target="_blank" href="../about/about.component.html">here.</a>
    </p>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
</style>
