.container {
    padding: 2em;
}

.card-header {
    background-color: #A60311;
    border: 3px #A60311;
}

.card {
    text-align: center;
    background-color: #A6A6A6;
    margin: 1em;
    font-family: 'Balsamiq Sans', cursive;
    border: 3px #A60311;
}

.row {
    text-align: center;
    padding: 1em;
}

.btn-primary {
    background-color: #A60311;
    border: 3px #A60311;
    font-size: 18px;
}

h3 {
    color: #fff;
}

label {
    color: #000;
}


/* CSS FONDO ANIMADO */

html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #A60311 50%, #fff 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: 'Balsamiq Sans', cursive;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}


/* DISEÑ0 DE FONDO*/
